<div class="jumbotron center">
  <h1>Welcome to Kappaccino!</h1>
  
	<% if user_signed_in? %>
  	# do something
	<% else %>	
  <p>
  	Kappaccino is a real-time scrim finding platform for Dota 2. We are currently in the alpha phase of development, but if you would like to be one of the first beta users please sign up below!
  <p>
   <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
   <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </p>
  <% end %>    

</div>